@page "/"
@inject NotificationService notifyService
<div class="row">
    <div class="col-md-9">
        <BlogComponent></BlogComponent>
    </div>
    <div class="col-md-3">
        <NotificationComponent></NotificationComponent>
    </div>
</div>