@page "/problemset"
@inject NavigationManager navigationManager

    <div class="row">
        <div class="col-md-9">
            <ProblemComponent></ProblemComponent>
        </div>
        <div class="col-md-3">
            <SearchComponent></SearchComponent>
        </div>
    </div>
