@page "/problemset"
@inject NavigationManager navigationManager

    <div class="row">
        <div class="col-md-9">
            Content Problemset
        </div>
        <div class="col-md-3">
            Sidebar
        </div>
    </div>
