@using Dictant.Web.Components.Problemset
@page "/problemset"
@inject HttpClient http
@inject NavigationManager navigationManager

<div class="row" style="margin-top: 20px">
    <div class="col-md-9">
        @if(Dictants != null)
        { 
        @foreach (var model in Dictants)
        {
            <ProblemItemComponent Source="@model"/>
        }
        }
    </div>
    <div class="col-md-3">
        <SearchComponent OnSearch="@(args => Dictants=args)"></SearchComponent>
    </div>
</div>
