@using Dictant.Shared.Models.Tasks;
@using Dictant.Web.Components.Editor;  
@page "/profile"
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider
@inject HttpClient http
<div class="row">
    <div class="col-md-12">
        <RadzenTabs Style="margin-top:20px;">
            <Tabs>
                <RadzenTabsItem Text="Profile">
                    <RadzenCard>
                        <div class="row">
                            <div class="col-md-12">
                                <b style="margin-top:20px">Email:</b>
                                qwerty123@mail.ru
                            </div>
                        </div>
                    </RadzenCard>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Tasks">
                    <RadzenCard>
                        <div class="row">
                            <div class="col-md-12">
                                <TaskEditorComponent />
                            </div>
                        </div>
                        <div style="margin-top:10px" class="row">
                            <div class="col-md-12">
                                <h3>My Tasks</h3>
                                <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            AllowSorting="true" Data="@Tasks" TItem="DictantSource" ColumnWidth="200px">
                                    <Columns>
                                        <RadzenGridColumn TItem="DictantSource" Property="Title" Title="Title" />
                                    </Columns>
                                </RadzenGrid>
                            </div>
                        </div>
                        <div style="margin-top:10px" class="row">
                            <div class="col-md-12">
                                <h3>Tasks</h3>
                                <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            AllowSorting="true" Data="@Dictants" TItem="DictantSource" ColumnWidth="200px">
                                    <Columns>
                                        <RadzenGridColumn TItem="DictantSource" Property="Title" Title="Title" />
                                    </Columns>
                                </RadzenGrid>
                            </div>
                        </div>
                    </RadzenCard>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

