@page "/task"
@inject NotificationService notifyService
<div class="row">
    <div class="col-md-9">
        @if (Source != null)
        {
            <div class="row">
                <h2>@Source.Title</h2>
            </div>
            <div class="row">
                <RadzenCard Style="">
                    @foreach (var word in GetUniqueWords())
                    {
                        @(word+" ")
                    }
                </RadzenCard>
            </div>
            }
        </div>
    <div class="col-md-3">
        Sidebar
    </div>
</div>