
<Radzen.Blazor.RadzenPanel Style="margin-bottom:5px">        
    <h2><a href="https://localhost:7001/task?id=@Source.Id">@Source.Title</a></h2>
    @Source.Description
</Radzen.Blazor.RadzenPanel>

