<a href="https://localhost:7001/task?id=@Source.Id">
    <Radzen.Blazor.RadzenPanel Style="margin-bottom:5px">
        <h2>@Source.Title</h2>
        @Source.Description
    </Radzen.Blazor.RadzenPanel>
</a>
