@inject HttpClient http
<div class="row">
    <div class="col-md-12">
        <RadzenTextBox @bind-Value="Text" Placeholder="Search..." Change="@ChangeType" Style="margin-bottom: 20px" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenRadioButtonList Change="@ChangeType" @bind-Value="property" TValue="int">
            <Items>
                <RadzenRadioButtonListItem  Text="Title" Value="1" />
                <RadzenRadioButtonListItem Text="Description" Value="2" />
            </Items>
        </RadzenRadioButtonList>
    </div>
</div>


