@using Dictant.Shared.Models.Auth
@using Dictant.Web.Auth
@using Dictant.Web.Extensions
@using Dictant.Web.Helpers
@inject HttpClient http
@inject ILoginService loginService
@inject NavigationManager navigationManager
@inject NotificationService notifyService
@inject IJSRuntime js;
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Login">
            <RadzenLogin AllowResetPassword="true" Visible="!isLoading" ResetPassword="@(()=>ResetPassword())" AllowRegister="false"
                         Login="args => LoginUser(args)"
                         Style="margin-bottom: 20px;"/>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Register">
            <EditForm EditContext="RegisterContext">
                <DataAnnotationsValidator />
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label" for="Email">Email</label>
                    <div class="col">
                        <RadzenTextBox style="display: block; width: 100%" Name="Email" @bind-Value="userInfo.Email" />
                        <ValidationMessage For="@(() => userInfo.Email)" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 col-form-label" for="password">Password</label>
                    <div class="col">
                        <RadzenPassword style="display: block; width: 100%" Name="Password" @bind-Value="userInfo.Password"/>
                        <ValidationMessage For="@(() => userInfo.Password)"/>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 35px">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <RadzenButton Disabled="isLoading" Click="CreateUser" Style="display: block" Text="Register"/>
                    </div>
                </div>

            </EditForm>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

<div class="g-recaptcha" data-sitekey="6LdP6ecUAAAAAGSkpl_Nw1Y9J9hys_Ipa7JzUoyL"></div>

@code {


}