@inherits LayoutComponentBase
<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
<div class="container">
    <div class="row">
        <div class="col-12">
            <NavMenu></NavMenu>
        </div>
    </div>
    
    @Body
</div>
<RadzenDialog></RadzenDialog>
<RadzenNotification/>