<div class="row">
    <div class="col-12">
        <RadzenMenu Style="border-radius:0.75rem">
            <RadzenMenuItem Text="Feed" Icon="home" Path="/" Match="@NavLinkMatch.All">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Problemset" Icon="assignment_turned_in" Path="/problemset" Match="@NavLinkMatch.All" >
            </RadzenMenuItem>
            <RadzenMenuItem Text="Moderation" Icon="assignment_turned_in" Path="/moderation" Match="@NavLinkMatch.All" >
            </RadzenMenuItem>
        </RadzenMenu>
    </div>
</div>


